span {
  margin-top: 15px;
  font-size: 30px;
}

.asterisk {
  color: #b94a48;
  padding-left: 4px;
}

.btn {
  background-color: #fff;
  color: #000;
  width: 90px;
  margin-left: 100px;
  border: 0px;
  margin-right: 5px;
  margin-top: 0px;
  padding: 10px 25px 10px 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

.select, .percent {
  margin-top: 20px;
  width: 270px;
  font-size: 20px;
}

.percent {
  margin-bottom: 10px;
}

img {
  margin-left: 98%;
}
